adw-input {
  position: relative;
  display: flex;
}

adw-input input {
  width: 100%;
}

adw-input .input-msg-box {
  margin: 0.2em 0px 0px 0.5em;
}

adw-input .input-msg-box span {
  font-size: 0.7em;
}

adw-input .suggestions-options {
  position: absolute;
  left: 0px;
  right: 0px;
  max-height: min(16em, 80vh);
  overflow-y: scroll;
  font-size: 0.8em;
  z-index: 10;
}

adw-input .suggestions-options.orientation-down {
  top: calc(100% + 0.2em);
}

adw-input .suggestions-options.orientation-up {
  bottom: calc(100% + 0.2em);
}

adw-input .suggestions-options * {
  cursor: pointer;
}
