.box {
  display: flex;
  background-color: color("bg2");
  @include scrollbar;

  &.rounded {
    border-radius: size("bradius");
  }

  &.bg-1 {
    background-color: color("bg1");
  }

  &.bg-2 {
    background-color: color("bg2");
  }

  &.bg-3 {
    background-color: color("bg3");
  }

  &.bg-4 {
    background-color: color("bg4");
  }

  &.bg-5 {
    background-color: color("bg5");
  }

  &.bg-6 {
    background-color: color("bg6");
  }
}
