.btn {
  cursor: pointer;
  background-color: color("btn");
  border-radius: size("bradius");
  font-family: "Ubuntu", sans-serif;
  border: unset;
  outline: unset;
  outline-offset: -4px;
  padding: 0.4em 1em;
  min-height: 2em;
  @include bg-transition();

  &.adaptive {
    background-color: color("btn-adaptive");

    &.toggled {
      background-color: color("btn-adaptive-toggled");
    }

    // double the active selector to increase specificity
    &:not(.toggled, .disabled):active:active {
      background-color: color("btn-adaptive-pressed");
    }

    &:hover:not(.toggled, .disabled) {
      background-color: color("btn-adaptive-hover");
    }
  }

  &.primary {
    background-color: color("primary-300");
    color: color("primary-text");

    &:hover:not(.toggled, .disabled) {
      background-color: color("primary-500");
    }

    // double the active selector to increase specificity
    &:active:active:not(.disabled) {
      background-color: color("primary-200");
    }

    &.toggled {
      background-color: color("primary-100");
    }

    &.disabled {
      background-color: nativeDarken(color("primary-300"), 25%);
      color: nativeOpacity(color("primary-text"), 60%);
    }
  }

  &.danger {
    background-color: color("danger-400");
    color: color("danger-text");

    &:hover:not(.toggled, .disabled) {
      background-color: color("danger-600");
    }

    // double the active selector to increase specificity
    &:active:active:not(.disabled) {
      background-color: color("danger-300");
    }

    &.toggled {
      background-color: color("danger-500");
    }

    &.disabled {
      background-color: nativeDarken(color("danger-300"), 15%);
      color: nativeOpacity(color("danger-text"), 60%);
    }
  }

  &.flat {
    background-color: transparent;

    &:hover:not(.disabled) {
      background-color: color("btn");
    }

    &.adaptive:hover:not(.disabled) {
      background-color: color("btn-adaptive");
    }

    // double the active selector to increase specificity
    &:active:active:not(.disabled) {
      background-color: color("btn-pressed");

      &.adaptive {
        background-color: color("btn-adaptive-pressed");
      }
    }
  }

  &.circular {
    width: 2.5em;
    height: 2.5em;
    border-radius: 5em;
    padding: unset;
  }

  &.square {
    width: 2.5em;
    height: 2.5em;
    padding: unset;
  }

  &.pill {
    border-radius: 5em;
  }

  &.toggled {
    background-color: color("btn-toggled");
  }

  &.disabled {
    color: nativeOpacity(color("text"), 60%);
    cursor: var(--disabled-cursor);
  }

  &:hover:not(.toggled, .disabled) {
    background-color: color("btn-hover");
  }

  // double the active selector to increase specificity
  &:not(.toggled, .disabled):active:active {
    background-color: color("btn-pressed");
  }

  &:focus-visible {
    outline: solid 2px color("focus");
    outline-offset: -2px;
  }
}
