.btn {
  background-color: color("btn");
  border-radius: size("bradius");
  font-family: "Ubuntu", sans-serif;
  border: unset;
  outline: unset;
  outline-offset: -4px;
  padding: 0.5em 0.5em;
  transition:
    background-color 0.2s,
    border 0.2s;

  &.primary {
    background-color: color("primary-300");
    color: color("primary-text");

    &:hover {
      background-color: color("primary-500");
    }

    &:active {
      background-color: color("primary-200");
    }

    &.toggled {
      background-color: color("primary-100");
    }
  }

  &.danger {
    background-color: color("danger-400");
    color: color("danger-text");

    &:hover {
      background-color: color("danger-600");
    }

    &:active {
      background-color: color("danger-300");
    }

    &.toggled {
      background-color: color("danger-500");
    }
  }

  &.flat {
    background-color: transparent;

    &:hover {
      background-color: color("btn");
    }

    &:active {
      background-color: color("btn-pressed");
    }

    &.toggled {
      background-color: color("btn-toggled");
    }
  }

  &.circular {
    width: 2.5em;
    height: 2.5em;
    border-radius: 18px;
    padding: unset;
  }

  &.pill {
    border-radius: 18px;
  }

  &.toggled {
    background-color: color("btn-toggled");
  }

  &:hover {
    background-color: color("btn-hover");
  }

  &:active {
    background-color: color("btn-pressed");
  }

  &:focus {
    outline: 2px dotted color("highlight");
  }
}
