.card {
  border-radius: size("bradius");
  background-color: color("bg2");
  padding: 0.85em 1.15em;

  &.activable {
    @include bg-transition();
    &:hover {
      background-color: color-mix(in srgb, color("bg2") 82%, rgb(128, 128, 128));
    }
  }
}
