.checkbox {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  background-color: white;
  font: inherit;
  color: currentColor;
  width: 1.2em;
  height: 1.2em;
  margin: 0.1em;
  border: 2px solid color("btn-hover");
  border-radius: 0.2em;
  transform: translateY(-0.075em);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: unset;
  box-sizing: content-box;
  @include bg-transition();

  &::before {
    width: 0.9em;
    padding-top: 0.15em;
    opacity: 0;
    transition: opacity 0.2s;
    object-fit: scale-down;
    content: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+CjxzdmcKICAgdmlld0JveD0iMCAwIDI0IDI0IgogICB3aWR0aD0iMTAwJSIKICAgaGVpZ2h0PSIxMDAlIgogICB2ZXJzaW9uPSIxLjEiCiAgIGlkPSJzdmcyIgogICBzb2RpcG9kaTpkb2NuYW1lPSJpY29uczgtY2hlY2ttYXJrLnN2ZyIKICAgaW5rc2NhcGU6dmVyc2lvbj0iMS4zICgwZTE1MGVkNmM0LCAyMDIzLTA3LTIxKSIKICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiCiAgIHhtbG5zOnNvZGlwb2RpPSJodHRwOi8vc29kaXBvZGkuc291cmNlZm9yZ2UubmV0L0RURC9zb2RpcG9kaS0wLmR0ZCIKICAgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIgogICB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8ZGVmcwogICAgIGlkPSJkZWZzMiIgLz4KICA8c29kaXBvZGk6bmFtZWR2aWV3CiAgICAgaWQ9Im5hbWVkdmlldzIiCiAgICAgcGFnZWNvbG9yPSIjZmZmZmZmIgogICAgIGJvcmRlcmNvbG9yPSIjMDAwMDAwIgogICAgIGJvcmRlcm9wYWNpdHk9IjAuMjUiCiAgICAgaW5rc2NhcGU6c2hvd3BhZ2VzaGFkb3c9IjIiCiAgICAgaW5rc2NhcGU6cGFnZW9wYWNpdHk9IjAuMCIKICAgICBpbmtzY2FwZTpwYWdlY2hlY2tlcmJvYXJkPSIwIgogICAgIGlua3NjYXBlOmRlc2tjb2xvcj0iI2QxZDFkMSIKICAgICBpbmtzY2FwZTp6b29tPSI2LjA5ODk1ODMiCiAgICAgaW5rc2NhcGU6Y3g9IjQyLjYzMDIzMSIKICAgICBpbmtzY2FwZTpjeT0iNTIuMjIyMDMyIgogICAgIGlua3NjYXBlOndpbmRvdy13aWR0aD0iMjUwNiIKICAgICBpbmtzY2FwZTp3aW5kb3ctaGVpZ2h0PSIxMzcxIgogICAgIGlua3NjYXBlOndpbmRvdy14PSIwIgogICAgIGlua3NjYXBlOndpbmRvdy15PSIwIgogICAgIGlua3NjYXBlOndpbmRvdy1tYXhpbWl6ZWQ9IjEiCiAgICAgaW5rc2NhcGU6Y3VycmVudC1sYXllcj0ic3ZnMiIgLz4KICA8cGF0aAogICAgIGQ9Im0gOS44MDIzNTA1LDIwLjE3NjI3OSBjIC0wLjU3ODYyMTksMCAtMS4xMzQzMTc1LC0wLjIzMDM1NiAtMS41NDM3MTk1LC0wLjYzOTc1OSBMIDEuMTQzNzYzNywxMi40MjE2NTQgYyAtMC44NTI2NDg1NCwtMC44NTI2NDggLTAuODUyNjQ4NTQsLTIuMjM0NzkxIDAsLTMuMDg3NDM5NSAwLjg1MjY0ODYsLTAuODUyNjQ4NCAyLjIzNDc5MDgsLTAuODUyNjQ4NCAzLjA4NzQzOTMsMCBMIDkuODAyMzUwNSwxNC45MDUzNjEgMTkuNzYwMTA2LDQuOTQ3NjA1NyBjIDAuODUyNjQ5LC0wLjg1MjY0ODUgMi4yMzQ3OTEsLTAuODUyNjQ4NSAzLjA4NzQ0LDAgMC44NTI2NDgsMC44NTI2NDg0IDAuODUyNjQ4LDIuMjM0NzkwMiAwLDMuMDg3NDM4OSBMIDExLjM0NjA3LDE5LjUzNjUyIGMgLTAuNDA5NDAzLDAuNDA5NDAzIC0wLjk2NTA5OCwwLjYzOTc1OSAtMS41NDM3MTk1LDAuNjM5NzU5IHoiCiAgICAgaWQ9InBhdGgxIgogICAgIHN0eWxlPSJzdHJva2Utd2lkdGg6MS4wOTE3NDtmaWxsOiNmOWY5ZjkiIC8+Cjwvc3ZnPg==");
  }

  &:checked {
    background-color: color("primary-600");
  }

  &:checked::before {
    opacity: 1;
  }

  &:focus-visible {
    outline: solid 2px color("focus");
    outline-offset: 0px;
  }

  &.disabled {
    background-color: hsl(0 0% 65% / 1);
    cursor: var(--disabled-cursor);
  }
}
