.input {
  color: color("text");
  background-color: color("btn");
  border-radius: size("bradius");
  outline: 1px solid color("btn");
  outline-offset: -1px;
  padding: 0.3em 0.5em;
  font-family: "Ubuntu", sans-serif;
  border: none;
  min-height: 2em;

  $placeholderColor: color-mix(in srgb, color("text") 40%, rgb(128, 128, 128));

  &::placeholder {
    color: $placeholderColor;
  }

  &.input.input:focus-visible:not(.disabled) {
    outline: 1px solid color("primary-300");
  }

  &.disabled {
    color: nativeOpacity($placeholderColor, 70%);
    cursor: not-allowed;
    caret-color: transparent;

    &::placeholder {
      opacity: 0.5;
    }
  }
}
