.input {
  background-color: color("btn");
  border-radius: size("bradius");
  border: 1px solid color("btn");
  padding: 0.3em 0.5em;
  font-family: "Ubuntu", sans-serif;

  &.input.input:focus-visible {
    outline: none;
    border: 1px solid color("primary-300");
  }
}
