.linked {
  display: flex;

  &:not(.vertical) {
    flex-direction: row;
    flex-wrap: nowrap;

    & > :not(:first-child) {
      &:is(.btn, .input),
      &:is(.btn-wrapper, .input-wrapper) > :is(.btn, .input) {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        border-left: 0.5px solid color("dimmed");
      }
    }

    & > :not(:last-child) {
      &:is(.btn, .input),
      &:is(.btn-wrapper, .input-wrapper) > :is(.btn, .input) {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
        border-right: 0.5px solid color("dimmed");
      }
    }
  }

  &.vertical {
    flex-direction: column;

    & > :not(:first-child) {
      &:is(.btn, .input),
      &:is(.btn-wrapper, .input-wrapper) > :is(.btn, .input) {
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-top: 0.5px solid color("dimmed");
      }
    }

    & > :not(:last-child) {
      &:is(.btn, .input),
      &:is(.btn-wrapper, .input-wrapper) > :is(.btn, .input) {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-bottom: 0.5px solid color("dimmed");
      }
    }
  }
}
