.list {
  $listBorderRadius: size("cradius");
  $listSeparatorColor: transparent;

  border-radius: $listBorderRadius;

  .list-element {
    background-color: color("bg2");
    background-clip: padding-box;
    transition: background-color 0.1s;
    padding: 1em 1.15em;

    &:first-child {
      border-top-left-radius: $listBorderRadius;
      border-top-right-radius: $listBorderRadius;
    }

    &:last-child {
      border-bottom-left-radius: $listBorderRadius;
      border-bottom-right-radius: $listBorderRadius;
    }

    &:not(:first-child) {
      border-top: 1px solid $listSeparatorColor;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $listSeparatorColor;
    }

    &.activable {
      &:hover {
        background-color: color("dimmed");
      }
    }
  }
}
