.message {
  font-family: "Ubuntu", sans-serif;

  &.success {
    color: color("success-text");
  }

  &.alert {
    color: color("alert-text");
  }

  &.error {
    color: color("error-text");
  }
}
