.message {
  color: color("text-primary");
  font-family: "Ubuntu", sans-serif;

  &.success {
    color: color("text-success");
  }

  &.alert {
    color: color("text-alert");
  }

  &.error {
    color: color("text-error");
  }
}
