.message {
  font-family: "Ubuntu", sans-serif;

  &.info {
    color: color("info-fg");
  }

  &.success {
    color: color("success-fg");
  }

  &.warning {
    color: color("warning-fg");
  }

  &.error {
    color: color("error-fg");
  }
}
