.nav-sidebar {
  display: flex;
  flex-direction: column;
  padding: 0.25em;

  .nav-sidebar-btn {
    display: flex;
    font-size: inherit;
    border: unset;
    margin: 1px 0px;
    border-radius: size("bradius");
    padding: 0.5em 0.7em;
    background-color: transparent;
    transition: background-color 0.1s;
    font-family: "Ubuntu", sans-serif;

    &.active {
      background-color: rgba(128, 128, 128, 0.3);
    }

    &:hover {
      background-color: rgba(128, 128, 128, 0.25);
    }

    &:active {
      background-color: rgba(128, 128, 128, 0.4);
    }

    &:focus-visible {
      outline: solid 2px color("focus");
      outline-offset: -2px;
    }
  }
}
