$noPositionClassName: ".no-position";
$elementHeight: 2em;

.selector {
  background-color: color("btn");
  border-radius: size("bradius");
  border: 1px solid color("btn");
  font-family: "Ubuntu", sans-serif;
  height: $elementHeight;
  display: flex;
  flex-direction: row;
  cursor: pointer;
  align-items: center;
  @include bg-transition();

  &:not(#{$noPositionClassName}) {
    position: relative;
  }

  &:focus-visible {
    outline: none;
    border: 1px solid color("primary-300");
  }

  &.disabled {
    cursor: not-allowed;
    .selected-option {
      color: nativeOpacity(color("text"), 60%);
    }
  }

  .selected-option {
    color: color("text");
    border-bottom-left-radius: size("bradius");
    border-top-left-radius: size("bradius");
    padding: 0 0.9em;
    font-family: "Ubuntu", sans-serif;
    user-select: none;
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
  }

  .down-button {
    border-bottom-right-radius: size("bradius");
    border-top-right-radius: size("bradius");
    width: $elementHeight;
    height: 100%;
    position: relative;

    &::before {
      position: absolute;
      content: "◢";
      font-size: 0.7em;
      color: color("text");
      transform: rotate(45deg);
      top: 0.4em;
      left: 1em;
    }
  }

  &:hover:not(.disabled),
  &.opened {
    background-color: color("btn-hover");
  }

  &:not(.opened, .disabled):active {
    background-color: color("btn-pressed");
  }

  .options-list {
    border-radius: size("bradius");
    background-color: color("btn");
    padding: 0.4em;
    display: flex;
    flex-direction: column;

    $listMargin: 0.3em;
    @include scrollbar;

    &.top {
      margin-bottom: $listMargin;
    }

    &:not(.top) {
      margin-top: $listMargin;
    }

    &:not(#{$noPositionClassName}) {
      &.top {
        position: absolute;
        left: 0px;
        right: 0px;
        bottom: $elementHeight;
      }

      &:not(.top) {
        position: absolute;
        left: 0px;
        right: 0px;
        top: $elementHeight;
      }
    }

    .option {
      background-color: transparent;
      border-radius: size("bradius");
      border: unset;
      outline: unset;
      padding: 0.3em 0.5em;
      cursor: pointer;
      display: flex;
      justify-content: flex-start;
      user-select: none;
      text-align: left;
      @include bg-transition(0.1s);

      &:hover {
        background-color: color("btn-hover");
      }

      &:active {
        background-color: color("btn-pressed");
      }

      &:focus-visible {
        background-color: color("bg6");
      }
    }
  }
}
