$skeleton-anim-color: #88888852;

@mixin MaskAnimation($duration: 1s) {
  mask-image: linear-gradient(90deg, #ffffff00 25%, #000000 50%, #ffffff00 75%);
  mask-size: 400% 100%;
  mask-repeat: repeat;
  animation: skeleton-msk-anim 1s ease-out infinite;
}

@keyframes skeleton-msk-anim {
  0% {
    mask-position: 100% 0px;
  }
  100% {
    mask-position: 0% 0px;
  }
}

.skeleton {
  pointer-events: none;
  @include MaskAnimation;

  & * {
    pointer-events: inherit;
    user-select: none;
  }

  & input::selection {
    color: transparent;
  }

  & .checkbox.checkbox:checked::before {
    opacity: 0;
  }

  & .header,
  & .text,
  & .label,
  & .subtitle,
  & .message {
    color: transparent;
    background-color: $skeleton-anim-color;
  }

  & .alert {
    background-color: $skeleton-anim-color;

    & {
      color: transparent;
    }

    & * {
      opacity: 0;
    }
  }

  & .breadcrumbs,
  & .btn.btn.btn.btn.btn {
    color: transparent;
    border-right: 0px;
    border-left: 0px;
    background-color: $skeleton-anim-color;
  }

  & .breadcrumbs {
    & .breadcrumb-separator,
    & .breadcrumb-item {
      color: transparent;
    }
  }

  & .input.input {
    color: transparent;
    outline: 0px;
    background-color: $skeleton-anim-color;

    &::placeholder {
      color: transparent;
    }
  }

  & .linked {
    & .input,
    & .btn {
      animation: none !important;
      background: #73737352 !important;
    }
  }

  & .checkbox {
    background: $skeleton-anim-color;
    border: 0px;
  }

  & .selector,
  & .switch,
  & .slider {
    background: $skeleton-anim-color;
    & > * {
      opacity: 0;
      color: transparent;
    }
  }

  & .spinner {
    background: $skeleton-anim-color;
    & .inner-circle {
      background: $skeleton-anim-color;
    }
  }

  & .separator {
    opacity: 0;
  }

  & .nav-sidebar {
    & .nav-sidebar-btn {
      background: $skeleton-anim-color;
      color: transparent;
    }
    & *:not(.nav-sidebar-btn) {
      opacity: 0;
    }
  }

  & .list {
    background: $skeleton-anim-color;
    & * {
      opacity: 0;
    }
  }
}
