.slider-track {
  height: 0.3em;
  border-radius: 18px;
  background-color: color("btn");
  border: 1px solid color("btn-border");
}

.slider-progress {
  height: 0.3em;
  border-radius: 18px;
  background-color: color("primary");
  border: 1px solid color("btn-border");
}

.slider-thumb {
  height: 0.75em;
  width: 0.75em;
  border-radius: 18px;
  background-color: color("btn");
  border: 0.8px solid color("btn-border");
}
