$noPositionClassName: ".no-position";

.slider {
  flex: 1;
  min-height: 1em;
  border-radius: 6px;
  cursor: pointer;
  user-select: none;

  &.disabled {
    cursor: var(--disabled-cursor);

    .slider-progress {
      background-color: color-mix(in srgb, color("btn") 65%, #dfdfdf);
    }

    .slider-thumb {
      background-color: nativeDarken(color("slider-thumb"), 20%);
    }
  }

  &:not(#{$noPositionClassName}) {
    position: relative;
  }

  &:focus-visible {
    outline: solid 2px color("focus");
    outline-offset: 2px;
  }

  .slider-track {
    height: 0.3em;
    border-radius: 18px;
    background-color: color-mix(in srgb, color("btn") 65%, #888888);

    &:not(#{$noPositionClassName}) {
      position: absolute;
      top: 0.3em;
      left: 0px;
      right: 0px;
    }
  }

  .slider-progress {
    height: 0.3em;
    border-radius: 18px;
    background-color: color("primary-400");

    &:not(#{$noPositionClassName}) {
      position: absolute;
      top: 0.3em;
      left: 0px;
      right: 100%;
    }
  }

  .slider-thumb {
    height: 0.75em;
    width: 0.75em;
    border-radius: 18px;
    background-color: color("slider-thumb");
    @include box-shadow(1.5px, 1.5px);

    &:not(#{$noPositionClassName}) {
      position: absolute;
      top: 0.1em;
      left: calc(0% - 0.3em);
    }
  }
}
