.suggestions {
  @include scrollbar;
  background-color: color("btn");
  border-radius: size("bradius");

  .suggestions-option {
    background-color: color("btn");
    background-clip: padding-box;
    transition: background-color 0.1s;
    padding: 0.5em;

    &.active {
      background-color: color("btn-hover");
    }
  }
}
