.suggestions {
  @include scrollbar;
  background-color: color("btn");
  border-radius: size("bradius");

  .suggestions-option {
    @include bg-transition(0.1s);
    background-color: color("btn");
    background-clip: padding-box;
    padding: 0.5em;

    &.active {
      background-color: color("btn-hover");
    }
  }
}
