$swBtnDim: 1.7em;
$swBtnMargin: 0.15em;

.switch {
  cursor: pointer;
  user-select: none;
  border-radius: 18px;
  background-color: color("bg6");
  height: $swBtnDim;
  width: $swBtnDim * 2;
  @include bg-transition();

  .switch-knob {
    border-radius: 18px;
    margin: $swBtnMargin;
    height: calc($swBtnDim - (2 * $swBtnMargin));
    width: calc($swBtnDim - (2 * $swBtnMargin));
    background-color: rgb(242 242 242);
    position: relative;
    top: 0px;
    left: 0px;
    transition: left 0.2s;
  }

  &.disabled {
    cursor: var(--disabled-cursor);
    &.active {
      background-color: color-mix(
        in srgb,
        color("bg6") 60%,
        rgb(128, 128, 128)
      );
    }

    .switch-knob {
      background-color: color-mix(
        in srgb,
        color("bg3") 50%,
        rgb(217, 217, 217)
      );
    }
  }

  &.active {
    background-color: color("primary-600");

    .switch-knob {
      left: $swBtnDim;
    }
  }

  &:focus-visible {
    outline: solid 2px color("focus");
    outline-offset: 2px;
  }
}
