.text,
.label,
.subtitle,
.header,
.header-sm,
.header-xl,
.header-xxl {
  line-height: 1.5em;
  font-family: "Ubuntu", sans-serif;
}

.text {
  font-size: 1em;
  font-weight: 500;
}

.label {
  font-size: 1.1em;
  font-weight: bold;
}

.subtitle {
  font-size: 0.9em;
  font-weight: 500;
  color: color("text-secondary");
}

.header {
  font-size: 1.5em;
  font-weight: bold;
}

.header-sm {
  font-size: 1.2em;
  font-weight: bold;
}

.header-xl {
  font-size: 2em;
  font-weight: bold;
}

.header-xxl {
  font-size: 3em;
  font-weight: bold;
}
