@mixin scrollbar {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    border-radius: size("bradius");
  }

  &::-webkit-scrollbar-track {
    margin-bottom: 6px;
    margin-top: 6px;
    border-radius: size("bradius");
  }

  &::-webkit-scrollbar-thumb {
    background-color: color("bg4");
    border-radius: size("bradius");
  }

  &::-webkit-scrollbar-track:hover {
    background-color: color-mix(in srgb, color("bg4"), transparent 70%);
  }
}
