@mixin scrollbar {
  &::-webkit-scrollbar {
    background-color: transparent;
    width: 8px;
    height: 8px;
    border-radius: size("bradius");
  }

  &::-webkit-scrollbar-track {
    margin: 6px;
    border-radius: size("bradius");
  }

  &::-webkit-scrollbar-thumb {
    background-color: color("bg6");
    border-radius: size("bradius");
  }

  &::-webkit-scrollbar-track:hover {
    background-color: color-mix(in srgb, color("bg6"), transparent 70%);
  }
}
