@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Ubuntu:ital,wght@0,300;0,700;1,500&display=swap");

@import "variables";
@import "mixins/scrollbar";
@import "mixins/bg-transition";
@import "components/box";
@import "components/button";
@import "components/card";
@import "components/checkbox";
@import "components/frame";
@import "components/input";
@import "components/linked";
@import "components/list";
@import "components/message";
@import "components/nav-sidebar";
@import "components/separator";
@import "components/slider";
@import "components/switch";
@import "components/typography";
@import "components/suggestions";
@import "components/selector";
@import "components/scrollview";
@import "components/skeleton";