@use "sass:map";

$colorNames: (
  bg1: --clr-bg,
  bg2: --clr-bg-second,
  bg3: --clr-bg-third,
  bg4: --clr-bg-fourth,
  fg: --clr-fg,
  text: --clr-text,
  text-secondary: --clr-text-secondary,
  success-text: --clr-success-text,
  success-fg: --clr-success-fg,
  success-bg: --clr-success-bg,
  alert-text: --clr-alert-text,
  alert-fg: --clr-alert-fg,
  alert-bg: --clr-alert-bg,
  error-text: --clr-error-text,
  error-fg: --clr-error-fg,
  error-bg: --clr-error-bg,
  highlight: --clr-highlight,
  dimmed: --clr-dimmed,
  btn: --clr-btn,
  btn-toggled: --clr-btn-toggled,
  btn-hover: --clr-btn-hover,
  btn-pressed: --clr-btn-pressed,
  btn-border: --clr-btn-border,
  border: --clr-border,
  primary-text: --clr-primary-text,
  primary-000: --clr-primary-000,
  primary-100: --clr-primary-100,
  primary-200: --clr-primary-200,
  primary-300: --clr-primary-300,
  primary-400: --clr-primary-400,
  primary-500: --clr-primary-500,
  primary-600: --clr-primary-600,
  primary-700: --clr-primary-700,
  primary-800: --clr-primary-800,
  primary-900: --clr-primary-900,
  danger-text: --clr-danger-text,
  danger-000: --clr-danger-000,
  danger-100: --clr-danger-100,
  danger-200: --clr-danger-200,
  danger-300: --clr-danger-300,
  danger-400: --clr-danger-400,
  danger-500: --clr-danger-500,
  danger-600: --clr-danger-600,
  danger-700: --clr-danger-700,
  danger-800: --clr-danger-800,
  danger-900: --clr-danger-900,
);

@function nativeLighten($color, $amount) {
  $inverseAmount: 100% - $amount;
  @return color-mix(in srgb, $color $inverseAmount, white);
}

@function nativeDarken($color, $amount) {
  $inverseAmount: 100% - $amount;
  @return color-mix(in srgb, $color $inverseAmount, black);
}

@function colorName($name) {
  @return map.get($colorNames, $name);
}

/* @param $name {string} */
@function color($name) {
  @return var(#{colorName($name)});
}

$sizes: (
  bradius: --border-radius,
);

@function sizeName($name) {
  @return map.get($sizes, $name);
}

@function size($name) {
  @return var(#{sizeName($name)});
}

:root {
  #{sizeName("bradius")}: 10px;
}

$lighter-1: 5%;
$lighter-2: 7%;
$lighter-3: 15%;
$lighter-4: 20%;
$lighter-5: 25%;

$darker-1: 5%;
$darker-2: 10%;
$darker-3: 20%;
$darker-4: 30%;

.dark-theme {
  $bgColor: #121212;
  $bgSecondColor: #363636;
  $bgThirdColor: #242424;
  $bgFourthColor: #545454;
  $dimmedColor: lighten($bgSecondColor, 2%);
  $highlightColor: lighten($bgSecondColor, 20%);
  $btnColor: #373737;

  $textColor: #eeeeec;
  $textSecondaryColor: #a0a0a0;

  $successText: #ffffff;
  $successFg: #8ff0a4;
  $successBg: #26a269;
  $alertText: rgba(0, 0, 0, 0.8);
  $alertFg: #f8e45c;
  $alertBg: #cd9309;
  $errorText: #ffffff;
  $errorFg: #ff7b63;
  $errorBg: #c01c28;

  $accentColor: var(--g-accent, #3584e4);
  $accentText: var(--g-accent-text, #ffffff);
  $dangerColor: var(--g-danger, #c01c28);
  $dangerText: var(--g-danger-text, #ffffff);

  #{colorName("bg1")}: $bgColor;
  #{colorName("bg2")}: $bgSecondColor;
  #{colorName("bg3")}: $bgThirdColor;
  #{colorName("bg4")}: $bgFourthColor;
  #{colorName("text")}: $textColor;
  #{colorName("text-secondary")}: $textSecondaryColor;
  #{colorName("success-text")}: $successText;
  #{colorName("success-fg")}: $successFg;
  #{colorName("success-bg")}: $successBg;
  #{colorName("alert-text")}: $alertText;
  #{colorName("alert-fg")}: $alertFg;
  #{colorName("alert-bg")}: $alertBg;
  #{colorName("error-text")}: $errorText;
  #{colorName("error-fg")}: $errorFg;
  #{colorName("error-bg")}: $errorBg;
  #{colorName("highlight")}: $highlightColor;
  #{colorName("dimmed")}: $dimmedColor;
  #{colorName("btn")}: $btnColor;
  #{colorName("btn-toggled")}: nativeDarken($btnColor, 15%);
  #{colorName("btn-hover")}: nativeLighten($btnColor, 8%);
  #{colorName("btn-pressed")}: nativeDarken($btnColor, 10%);
  #{colorName("btn-border")}: nativeDarken($btnColor, 10%);
  #{colorName("primary-text")}: $accentText;
  #{colorName("primary-000")}: nativeDarken($accentColor, $darker-4);
  #{colorName("primary-100")}: nativeDarken($accentColor, $darker-3);
  #{colorName("primary-200")}: nativeDarken($accentColor, $darker-2);
  #{colorName("primary-300")}: nativeDarken($accentColor, $darker-1);
  #{colorName("primary-400")}: $accentColor;
  #{colorName("primary-500")}: nativeLighten($accentColor, $lighter-1);
  #{colorName("primary-600")}: nativeLighten($accentColor, $lighter-2);
  #{colorName("primary-700")}: nativeLighten($accentColor, $lighter-3);
  #{colorName("primary-800")}: nativeLighten($accentColor, $lighter-4);
  #{colorName("primary-900")}: nativeLighten($accentColor, $lighter-5);
  #{colorName("danger-text")}: $dangerText;
  #{colorName("danger-000")}: nativeDarken($dangerColor, $darker-4);
  #{colorName("danger-100")}: nativeDarken($dangerColor, $darker-3);
  #{colorName("danger-200")}: nativeDarken($dangerColor, $darker-2);
  #{colorName("danger-300")}: nativeDarken($dangerColor, $darker-1);
  #{colorName("danger-400")}: $dangerColor;
  #{colorName("danger-500")}: nativeLighten($dangerColor, $lighter-1);
  #{colorName("danger-600")}: nativeLighten($dangerColor, $lighter-2);
  #{colorName("danger-700")}: nativeLighten($dangerColor, $lighter-3);
  #{colorName("danger-800")}: nativeLighten($dangerColor, $lighter-4);
  #{colorName("danger-900")}: nativeLighten($dangerColor, $lighter-5);

  & * {
    color: color("text");
  }
}

.light-theme {
  $bgColor: #ffffff;
  $bgSecondColor: #e9e9e9;
  $bgThirdColor: #f1f1f1;
  $bgFourthColor: #cdcdcd;
  $dimmedColor: lighten($bgSecondColor, 2%);
  $highlightColor: lighten($bgSecondColor, 20%);
  $btnColor: #d8d8d8;

  $textColor: rgba(0, 0, 0, 0.8);
  $textSecondaryColor: #686868;

  $successText: #ffffff;
  $successFg: #1b8553;
  $successBg: #2ec27e;
  $alertText: rgba(0, 0, 0, 0.8);
  $alertFg: #9c6e03;
  $alertBg: #e5a50a;
  $errorText: #ffffff;
  $errorFg: #c01c28;
  $errorBg: #e01b24;

  $accentColor: var(--g-accent, #3584e4);
  $accentText: var(--g-accent-text, #ffffff);
  $dangerColor: var(--g-danger, #e01b24);
  $dangerText: var(--g-danger-text, #ffffff);

  #{colorName("bg1")}: $bgColor;
  #{colorName("bg2")}: $bgSecondColor;
  #{colorName("bg3")}: $bgThirdColor;
  #{colorName("bg4")}: $bgFourthColor;
  #{colorName("text")}: $textColor;
  #{colorName("text-secondary")}: $textSecondaryColor;
  #{colorName("success-text")}: $successText;
  #{colorName("success-fg")}: $successFg;
  #{colorName("success-bg")}: $successBg;
  #{colorName("alert-text")}: $alertText;
  #{colorName("alert-fg")}: $alertFg;
  #{colorName("alert-bg")}: $alertBg;
  #{colorName("error-text")}: $errorText;
  #{colorName("error-fg")}: $errorFg;
  #{colorName("error-bg")}: $errorBg;
  #{colorName("highlight")}: $highlightColor;
  #{colorName("dimmed")}: $dimmedColor;
  #{colorName("btn")}: $btnColor;
  #{colorName("btn-toggled")}: darken($btnColor, 5%);
  #{colorName("btn-hover")}: lighten($btnColor, 6%);
  #{colorName("btn-pressed")}: darken($btnColor, 8.25%);
  #{colorName("btn-border")}: darken($btnColor, 9%);
  #{colorName("primary-text")}: $accentText;
  #{colorName("primary-000")}: nativeDarken($accentColor, $darker-4);
  #{colorName("primary-100")}: nativeDarken($accentColor, $darker-3);
  #{colorName("primary-200")}: nativeDarken($accentColor, $darker-2);
  #{colorName("primary-300")}: nativeDarken($accentColor, $darker-1);
  #{colorName("primary-400")}: $accentColor;
  #{colorName("primary-500")}: nativeLighten($accentColor, $lighter-1);
  #{colorName("primary-600")}: nativeLighten($accentColor, $lighter-2);
  #{colorName("primary-700")}: nativeLighten($accentColor, $lighter-3);
  #{colorName("primary-800")}: nativeLighten($accentColor, $lighter-4);
  #{colorName("primary-900")}: nativeLighten($accentColor, $lighter-5);
  #{colorName("danger-text")}: $dangerText;
  #{colorName("danger-000")}: nativeDarken($dangerColor, $darker-4);
  #{colorName("danger-100")}: nativeDarken($dangerColor, $darker-3);
  #{colorName("danger-200")}: nativeDarken($dangerColor, $darker-2);
  #{colorName("danger-300")}: nativeDarken($dangerColor, $darker-1);
  #{colorName("danger-400")}: $dangerColor;
  #{colorName("danger-500")}: nativeLighten($dangerColor, $lighter-1);
  #{colorName("danger-600")}: nativeLighten($dangerColor, $lighter-2);
  #{colorName("danger-700")}: nativeLighten($dangerColor, $lighter-3);
  #{colorName("danger-800")}: nativeLighten($dangerColor, $lighter-4);
  #{colorName("danger-900")}: nativeLighten($dangerColor, $lighter-5);

  & * {
    color: color("text");
  }
}
